
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d9b9ec;
  color: #ffffff;
  line-height: 1.6;
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}

.Edita {
  width: 100%;
  height: 100vh;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #926ba1;
overflow: auto;
 
}


.portada {
  text-align: center;
}
.portada h1 {
  font-size: 4rem;
  letter-spacing: 2px;
}
.portada p {
  margin-top: 20px;
  font-size: 2rem;
}


.perfil {
  flex-direction: row;
  gap: 40px;
}
.perfil .foto img {
  width: 500px;
  border-radius: 15px;
}
.perfil .texto {
  max-width: 500px;
  font-size: 1.5rem;
}
.perfil h2 {
  font-size: 4rem;
}
.perfil span {
  font-weight: bold;
}
.perfil .contacto {
  margin-top: 20px;
  font-weight: bold;
}


.habi h1{
  font-size: 4rem;  
}
.habi ul {
  margin-top: 20px;
  list-style: none;
}
.habi li {
  font-size: 2rem;
  margin: 5px 0;
}

.diseño h2{
font-size: 4rem;
}
.logos h2{
font-size: 4rem;
}

.foto h2{
font-size: 4rem;
}
.galeria {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
.galeria img {
  border-radius: 10px;
  
}


.final {
  text-align: center;
}
.final h1 {
  font-size: 3rem;
}

.final p {
  font-size: 2rem;
}

@media (min-width: 768px) and (max-width: 1202px){
  .cambio {
    display: none;
  }
}
